 body{
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    border: none;
}
.one{
    padding:100px;
    background-image: url(twitterbackground.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover ;
    background-size: cover;
    flex-basis: 35%;
    height: 10cm;
}
form{
    padding-left: 40%;
    padding-top: 70px ;
}
.two
    flex-basis: 50%;
    height: 10cm;
}
.username-button{
    padding-bottom: 20px;
    padding-right: 10px;
    border-bottom: black solid 3px;
}
.password-button{
    padding-bottom: 20px;
    padding-right: 50px;
    border-bottom: black solid 3px;
}
.login-button1{
    color: blue;
    background-color: white;
    border-radius: 40px;
    padding: 20px;
    border-color: blue;
}
.forgot{
    margin-left: 100px;
    text-decoration: none;
}
.sign-up{
    padding: 20px 50px;
    color: white;
    background-color: blue;
    border-radius: 40px;
}
.login{
    color: blue;
    padding: 10px 55px;
    background-color: aliceblue;
    border-radius: 40px;
}
.a{
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
    padding-left: 10px;
 
    

} 
a{
    text-decoration: none;
}